{% include('common/_header.twig') %}

{% macro declension(number, forms) %}
    {% set cases = [2, 0, 1, 1, 1, 2] %}
    {{ number }} {{ forms[ ( number%100>4 and number%100<20)? 2 : cases[(number%10<5)?number%10:5] ] }}
{% endmacro %}

{% import _self as utils %}

    <!--*************************************************************************************-->
    <div class="main"> <!-- доп.обёртка для прижатия футера -->

        {% include('common/_admin_nav.twig') %}

        <div class="content">
            <div class="wrapper wrapper-admin">

                {% include('common/_admin_info.twig') %}

                <div class="admin-control-area">
                    <div class="admin-list-header">
                        <h2>СПИСОК ПОЛЬЗОВАТЕЛЕЙ</h2>
                        <span>По возрасту:<a href="/admin/userslist">▲</a><a href="/admin/userslist/desc">▼</a></span>
                    </div>

                    <table class="table-admin-users-list">
                        {% for user in users %}
                            <tr class="userslist-user-info">
                                <td width="140"><img src="/user/mainphoto/{{ user.id }}" alt="" width="100"></td>
                                <td width="40%" style="padding-left: 25px;">
                                    {{ user.login }}<br>
                                    {% if (user.age < 18) %}
                                        <span class="age-below-18">Несовершеннолетний</span>
                                    {% else %}
                                        <span>Совершеннолетний</span>
                                    {% endif %}
                                </td>
                                <td width="32%">{{ user.name }}</td>
                                <td width="18%" align="right">{{ utils.declension(user.age, ['год','года','лет']) }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>

            </div>
        </div>
    </div>
    <!--*************************************************************************************-->


{% include('common/_footer.twig') %}
